<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data">
    <br>
    <div class="add_button">
      <a href="#">Admin Profile</a>
    </div>
    <hr>
    <div>
        <form action="/updatePassword" method="POST">
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Email</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" readonly name="username" required value="<%= results[0].email %>" placeholder="Enter a username">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Current-Password</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="current_password" id="current_password" readonly placeholder="Enter a new password" value="<%= results[0].password %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Password</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" minlength="8" placeholder="Enter a new password" autocomplete="off">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Re-Enter password</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="password" class="form-control" id="c_password" onkeyup="checkPassword(this.value)" name="c_password" minlength="8"  placeholder="Re-Enter a new password" autocomplete="off">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h6>Social Media Links</h6>
            <hr>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Instagram URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" name="instagram" class="form-control" id="instagram" placeholder="Enter url here" value="<%= results[0].instagram %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Facebook URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="facebook" id="facebook" placeholder="Enter url here" value="<%= results[0].facebook %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Youtube URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="youtube" id="youtube" placeholder="Enter url here" value="<%= results[0].youtube %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Twitter URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="twitter" id="twitter" placeholder="Enter url here" value="<%= results[0].twitter %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>LinkedIn URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="Enter url here" value="<%= results[0].linkedin %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Quora URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="quora" id="quora" placeholder="Enter url here" value="<%= results[0].quora %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Telegram URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="telegram" id="telegram" placeholder="Enter url here" value="<%= results[0].telegram %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Pinterest URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="pinterest" id="pinterest" placeholder="Enter url here" value="<%= results[0].pinterest %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Clubhouse URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="clubhouse" id="clubhouse" placeholder="Enter url here" value="<%= results[0].clubhouse %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Website URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="website" id="website" placeholder="Enter url here" value="<%= results[0].website %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Online Shop URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="online_shop" id="online_shop" placeholder="Enter url here" value="<%= results[0].online_shop %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 d-flex align-items-center">
                    <p>Amazon URL</p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="amazon" id="amazon" placeholder="Enter url here" value="<%= results[0].amazon %>">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2">
                    <div class="button">
                        <button type="submit" id="book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;" >Save</button>
                    </div>
                </div>
            </div>
            <br><br>
        </form>
    </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    function checkPassword(c_password){
        var password = document.getElementById('password').value;
        if(document.getElementById('c_password').classList.contains('is-valid')){
            document.getElementById('c_password').classList.remove('is-valid')
        }
        if(document.getElementById('c_password').classList.contains('is-invalid')){
            document.getElementById('c_password').classList.remove('is-invalid')
        }
        if(password.length == c_password.length){
            if(password === c_password){
                document.getElementById('c_password').classList.add('is-valid');
            } else {
                document.getElementById('c_password').classList.add('is-invalid');
            }
        } else if(password.length < c_password.length){
            document.getElementById('c_password').classList.add('is-invalid');
        }
    }

</script>

<%- include('../../components/footer/footer.ejs') %> 